
/*--------------Font Type-----------*/

h1{
    font-family: 'Luxurious Roman', cursive;
}

/*-----------------Images-------------*/

.images{
    width: 500px;
    margin: 20px;
}
/*-------------Calculation Section----------*/

.reality{
    margin-left : 70px;
}
.save{
    margin-left: 80px;
    padding-right: 5px;
}
.calculate{
    width:180px;
    height:45px;
    margin-left: 40%;
  }
  /*-------------------Button---------------- */

.button{
    width:70px;
    padding:10px; 
}

/*----------------Input Field Resize-----------*/

.resize{
    width:90px;
}
/*------------------Media Query------------------*/

@media screen  and (max-width:375px){
    .save{
        margin: 0;
        padding: 0;
    }
    .images{
        width: 300px;
        height: fit-content;
        margin-right: 10px;
    }
    .bill{
        margin-left: 18px;
    }
    .resize{
        
        padding-right: 20px;
    }
    h1{
        margin-right: 10px;
        text-align: center;
    }

}
